.perspectiveControl {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 50px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.row{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.arrow {
    fill: #333;
}
.selected {
    fill: white;
}