.timer {
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-family: 'Cousine, Courier New', Courier, monospace;
  gap: 10px;
  align-items: center;
}