
.completed {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  padding: 20px;
  z-index: 1;
  font-size: 1.5em;
  position: absolute;
  width: 100%;
  bottom: 20px;
  /* background-color: black; */
  color: #999;
  /* outline: 1px solid white; */
}

.completionTime {
  font-size: 20px;
}

.completedButtons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.completedButtons .save, 
.completedButtons .discard  {
  width: 150px;
  height: 50px;
  color: #999;
  font-size: 16px;
}
.save {
  background: #333;
  border :1px solid #999;

}
.discard {
  background-color: #222;
  border: none;
}