.main {
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h1 {
  margin-bottom: 5rem;
  color: #ccc;
  font-size: 3.4rem;
  padding: 10px 15px;
  background-color: #181818;
}

.ist {
  color: #999
}

.link {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  color: #666;
  text-decoration: none;
  margin: 0.5rem 1rem;
  width: 200px;
  text-align: left;
  
}

.svg {
  fill: #666;
}
