.mainNav {
  --icon-size: 30px;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: content-box;
  height: var(--icon-size);
  padding: 15px;
  display: flex;
  flex-direction: row;
}

.button {
  height: 100%;
  width: var(--icon-size);
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cubeIcon, .speedometerIcon, .themesIcon  {
  fill: #666;
}

.selectedSvg {
  fill: #ccc;
}